#{$all-text-inputs} {
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    
    &:focus {
        border-color: #66afe9;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
}

input[type="radio"], input[type="checkbox"] {
    display: block;
    height: 34px;
    margin: 0;
    padding: 7px 0;
    cursor: pointer;
    
    + {
        @include component(help-block) {
            margin-top: 0;
        }
    }
}

@include component(form) {
    @include option(horizontal) {
        label {
            height: 34px;
            padding-top: 7px;
            padding-bottom: 7px;
            font-size: 14px;
            line-height: 1.42857;
            text-align: right;
        }
    }
    
    @include part(group) {
        position: relative;
        @include clearfix;
    }
    
    @include part(control) {
        position: relative;
        margin-bottom: 16px;
    }
    
    @at-root {
        #{"#" + $csstyle-root-id} & {
            @include part(checkbox, radio) {
                display: none;
                
                + label {
                    margin-right: 16px;
                    font-weight: inherit;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                    
                    &:before {
                        display: inline-block;
                        color: darken($btn-primary-border, 25%);
                        @include size(1.28571em, 20px);
                        margin: 0;
                        padding-right: 7px;
                        font: normal normal normal 14px / 1 FontAwesome;
                        font-size: 1rem;
                        text-align: left;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        transform: translate(0, 0);
                    }
                }
            }
            
            @include part(checkbox) {
                + label {
                    &:before {
                        content: $fa-var-square-o;
                    }
                }
                
                &:checked {
                    + label {
                        &:before {
                            content: $fa-var-check-square-o;
                        }
                    }
                }
            }
            
            @include part(radio) {
                + label {
                    &:before {
                        content: $fa-var-circle-o;
                    }
                }
                
                &:checked {
                    + label {
                        &:before {
                            content: $fa-var-dot-circle-o;
                        }
                    }
                }
            }
        }
    }
}

@include component(help-block) {
    margin-bottom: 16px;
}
