@include component(nav) {
    @include relative((top: 0));
    @include size(100%, $headerHeight);
    letter-spacing: .25px;
    font-family: $headingFont;
    color: #FFF;
    background: rgba(#000, .7);
    transition: height .3s;
    
    @include part(container) {
        @include fixed((top: 0, left: 0));
        width: 100%;
        z-index: 999;
    }
    
    @include part(item) {
        float: left;
        position: relative;
        height: $headerHeight;
        padding: 0 32px;
        line-height: $headerHeight;
        font-size: 0;
        transition: height .3s, padding .3s, line-height .3s;
        
        &:before, &:after {
            content: attr(data-text);
            @include font-size($fontBaseSize);
            text-align: center;
            pointer-events: none;
        }
        
        &:before {
            opacity: 0;
        }
        
        &:after {
            @include absolute((top: 0, left: 32px, right: 32px));
            transition: font-size .3s, left .3s, right .3s;
        }
        
        @include option(main) {
            font-weight: 700;
        }
        
        @include option(active) {
            > a {
                &:after {
                    bottom: 0;
                }
            }
        }
        
        > a {
            overflow: hidden;
            
            &:after {
                content: '';
                @include absolute((bottom: -5px, left: 0));
                @include size(100%, 5px);
                background: #FFF;
                transition: bottom .2s, height .3s;
            }
        }
        
        &:hover {
            > a {
                &:after {
                    bottom: 0;
                }
            }
        }
    }
}
