@include component(text) {
    @include part(lead) {
        margin-bottom: 16px;
        font-family: $headingFont;
        @include font-size(modular-scale(1, $fontBaseSize));
        line-height: modular-scale(-1, $fontBaseHeight);
        text-align: justify;
    }
    
    @include part(s) {
        @include font-size($fontBaseSize);
        
        p, #{$all-text-inputs}, #{$all-buttons}{
            @include font-size($fontBaseSize);
        }
    }
    
    @include part(xs) {
        @include font-size(modular-scale(-1, $fontBaseSize));
        
        p, #{$all-text-inputs}, #{$all-buttons}{
            @include font-size(14px);
        }
    }
    
    @include part(left) {
        text-align: left;
    }
    
    @include part(center) {
        text-align: center;
    }
    
    @include part(right) {
        text-align: right;
    }
    
    @include part(justify) {
        text-align: justify;
    }
    
    @include part(uppercase) {
        text-transform: uppercase;
    }
    
    @include part(capitalize) {
        text-transform: capitalize;
    }
    
    @include part(lowercase) {
        text-transform: lowercase;
    }
}

// [converter] $parent hack
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color;
  }
  a#{$parent}:hover,
  a#{$parent}:focus {
    color: darken($color, 10%);
  }
}

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $state-success-text);

@include text-emphasis-variant('.text-info', $state-info-text);

@include text-emphasis-variant('.text-warning', $state-warning-text);

@include text-emphasis-variant('.text-danger', $state-danger-text);

#{headings()} {
    font-weight: normal;
}

h1{
    @include font-size(64px);
}
h2{
    @include font-size(48px);
}
h3{
    @include font-size(32px);
}
h4{
    @include font-size(24px);
}
h5{
    @include font-size(18px);
}
h6{
    @include font-size(16px);
}

p {
    letter-spacing: .4px;
}
