// General page layout

#container {
    position: relative;
    min-height: 100%;
}

#container > main {
    padding: $headerHeight + 64 0 $footerHeight + 64px;
    overflow: hidden;
    
    header, main, footer, section {
        @include clearfix;
    }
    
    > {
        header, main, footer, section {
            &:not(:last-child) {
                margin-bottom: $sectionPadding;
            }
            
            > {
                header, main, footer, section {
                    &:not(:last-child) {
                        margin-bottom: $sectionPadding / 2;
                    }
                    
                    header, main, footer, section {
                        &:not(:last-child) {
                            margin-bottom: $sectionPadding / 4;
                        }
                    }
                }
            }
        }
    }
    
    [data-resizable] {
        margin-bottom: 0 !important;
        
        > {
            header, main, footer, section {
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include component(container) {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    @include clearfix;
    
    @media (min-width: $screen-sm-min) {
        max-width: $container-sm;
        width: $container-sm;
    }
    @media (min-width: $screen-md-min) {
        max-width: $container-md;
        width: $container-md;
    }
    @media (min-width: $screen-lg-min) {
        max-width: $container-lg;
        width: $container-lg;
    }
}

@include component(wrapper) {
    position: relative;
}

@include component(clear) {
    clear: both;
}

.clearfix {
    @include clearfix;
}
