// General page layout

#container{
    min-height: 100%;
}

#body{
    padding-bottom: $footerHeight;
}

@include component(container){
    margin-right: auto;
    margin-left: auto;
    
    @media (min-width: $screen-sm-min){
        max-width: $container-sm;
        width: $container-sm;
    }
    @media (min-width: $screen-md-min){
        max-width: $container-md;
        width: $container-md;
    }
    @media (min-width: $screen-lg-min){
        max-width: $container-lg;
        width: $container-lg;
    }
}
