@import "fonts", "icons/font-awesome";
@import "bourbon";

$debug: false;

// Neat + Settings
$visual-grid: false; // disable for production / enable for development
$visual-grid-color: lightblue;
$visual-grid-index: front;
$visual-grid-opacity: .4;
$max-width: em(1178) !global;

@import "neat";

// settings
$app: 'CardsAgainstTea';

// CSStyle
$csstyle-part-symbol: '/';
$csstyle-root-id: $app;

// Hint.css
$prefix: 'hint.\\--';
$fontSize: .9em;
$showDelay: 1s;

// vars
$mainFont: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue", $helvetica;
$headingFont: "Lato", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "HelveticaNeue", $helvetica;

$fontBaseSize: 16px;
$fontBaseHeight: 1.65;

$container-lg: 1178px;

$mainColor: #E1E1E1;
$textColor: #222;
$lightTextColor: #666;
$accentColor: #A54DFF;
$darkAccentColor: #3E2579;

$btn-primary-bg: $accentColor;

$headerHeight: 64px;
$footerHeight: 64px;
$sectionPadding: 64px;

// core
@import "bootstrap/bootstrap";
@import "core/core";

// app
@import "base";
@import "layouts";
@import "components";
@import "tweaks";
